<div class="message-container announce-message" id="message-<%= message.id %>">
  <p><%= message.user.username %> a lancé un nouveau <%= message.message_type == 'topic' ? "sujet : #{message.content}" : 'sondage' %></p>
</div>
