// Import page-specific CSS files here.
@import "home";
@import "show";


.back-link {
  color: #000;
  margin-bottom: 20px;

  &:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.6;
  }
}