<div class="footer">
  <div class="footer-copyright">
    Projet réalisé dans le cadre du bootcamp Développement Web Full-Stack du Wagon (<a href="https://github.com/fannymugnier/chin-up">Voir le code source</a>).
  </div>
</div>
