

<div class="container">
    <div class="card-container">
  <% @rooms.each do |room| %>
      <div class="card-room">
        <h2><%= room.name %></h2>
        <p><%= room.description %></p>
      </div>
  <% end %>
    </div>
</div>