.button-rounded {
  border-radius: 999px;
  background-color: #000;
  color: #fff;
  border: 1px solid transparent;
  padding: 10px 20px;
  margin-right: 4px;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    background-color:#fff;
    color: #000;
    border: 1px solid #000;
  }
}

.fake-more {
  border-radius: 999px;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: 1px solid #000;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    background-color:#000;
    color: #fff;
  }
}

.btn-create-survey {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top: 1px solid #ffffff7a;
  text-align: center;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106%;
  position: absolute;
  left: -10px;
  bottom: -10px;
  color: #000000b5;
  &:hover {
    background-color: #ffffffb5;
  }
}

.btn-main {
  border: 1px solid #00000085;
  border-radius: 15px;
  color: #00000085;
  padding: 0.5rem 3rem;

  &:hover {
    border-color: #333;
    color: #333;
  }
}

.btn-main-no-border {
  color: #00000085;
  padding: 0.5rem 1rem;

  &:hover {
    color: #333;
    text-decoration: underline;
  }
}
