.button-rounded {
  border-radius: 999px;
  background-color: #000;
  color: #fff;
  border: 1px solid transparent;
  padding: 10px 20px;
  margin-right: 4px;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    background-color:#fff;
    color: #000;
    border: 1px solid #000;
  }
}

.fake-more {
  border-radius: 999px;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: 1px solid #000;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    background-color:#000;
    color: #fff;
  }
}