#messages {
  height: 80vh;
  overflow: scroll;
}

#chat {
  height: 89vh;
  width: 100%;
  margin-right: 4px;
}

.chat-message {
  overflow-wrap: anywhere;
}

.message-time {
  font-size: 0.75rem;
  color: #868585;
}
