#messages {
  height: 86vh;
  overflow: scroll;
  padding: 0 10px 0 10px;
}

#chat {
  height: 89vh;
  width: 100%;
  margin-right: 4px;
  position: sticky;
  top: 0;
}

.chat-message {
  overflow-wrap: anywhere;
}

.message-time {
  font-size: 0.75rem;
  color: #868585;
}

#chat-bar {
  border-radius: 5px;
  width: 98%;
  margin-left: 11px;
  border: none;

  &:focus {
    outline: none;
    border:none;
    color: #495057;
    background-color: #fff;
    // border-color: #ced4da57;
    box-shadow: none;
  }
}