.cover {
  background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.58)),url("https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80");
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 1px 1px #060606e8;
  text-align: center;

  h1 {
    font-size: 80px;
    font-weight: 100;
  }

  h3 {
    font-weight: 200;
  }

  p {
    color: #fff;
    font-size: 1.25rem;
  }
}
