/** @format */

.user-button {
  border: none;
  background: transparent;
}

#dropdown-menu-custom {
  width: 270px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.1);
}

.avatar-dropdown {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.grid-dropdown {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 8px;
  margin-bottom: 20px;
}

.stars {
  display: flex;

  p {
    color: rgb(0, 132, 255);
    margin-right: 4px;
  }
}

#dropdown-menu-custom-new {
  padding: 10px;
  width: 300px;
  text-align: center;
  border-radius: 4px;
}

#fake-new {
  margin-right: 8px;

  i {
    color: #fff;
    transition: all 0.2s;

    &:hover {
      opacity: 0.5;
      transform: scale(1.45);
    }
  }

  a {
    color: black;
    transition: all 0.1s;

    &:hover {
      opacity: 0.4;
      text-decoration: none;
    }
  }
}
