/** @format */
$grey : rgb(136, 135, 135);

.expand-button {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #fff;
  text-align: center;
  // transition: background 0.2s;
  border-radius: 15px;
  transition: border-radius 0.6s;
}

.expand-content {
  overflow: hidden;
  max-height: 0;
  transition:max-height 0.2s;
  padding: 0 15px;
  padding:0;
  transition: all 0.2s;
  p {
    background-color: $grey;
    padding: 0;
    margin: 0;
    &:last-child {
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
    }
  }
    .form-group {
    margin: 0;
  }
}

.expand-button--active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 1px solid #e0e0e0;
}

.button-field {
  text-align: center;
  background-color:#fff;
  height: 30px;
  
  .btn {
    background-color:rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 999px;
    border: 1px solid #000;
  }
}
