/** @format */
$grey: rgb(136, 135, 135);
$lightGrey: #e0e0e0ad;

#expand-btn {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.expand-button {
  border: 1px solid $lightGrey;
  outline: none;
  cursor: pointer;
  background-color: #ffffff5e;
  transition: border-radius 0.6s;
  height: 100px;
  padding-top: 10px;

  width: 50%;
  padding-top: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #00000091;
  i {
    margin-bottom: 0.75rem;
  }
  &:hover {
      color: #000c;
      background: #ffffffb5;
    }
  &:first-of-type {
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 15px;
  }
}

.expand-content-topic {
  color: #000;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  padding: 0 16px;
  p {
    background-color: $grey;
    padding: 0;
    margin: 0;
  }
  .form-group {
    margin: 0;
  }
}

.expand-content-survey {
  color: #000;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  padding: 0 16px;
  p {
    background-color: $grey;
    padding: 0;
    margin: 0;
  }
  .form-group {
    margin: 0;
  }
}

.expand-button--active {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom: 1px solid $lightGrey;
  color: #000;
  background: #ffffffb5;
}

.remove-bdrs {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.button-field {
  border: 1px solid $lightGrey;
  border-top: none;
  text-align: center;
  background-color: #ffffff82;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  #btn {
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 999px;
  }

  &:hover {
    background-color: #ffffffb5;
  }
}

#new-survey-btn {
  transition: border-radius 0.6s;
  color: #00000091;
  i {
    margin-bottom: 0.75rem;
  }
  &:hover {
    color: #000c;
    background: #ffffffb5;
  }
}
