.navbar {
  padding: 1rem 2.5rem;
  color: #fff;
  position: absolute;
  top: 0;
}

.navbar-lewagon {
  justify-content: flex-end;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo {
  width: 3rem;
}
