/** @format */

.results-poll {
  height: 20px;
  display: flex;
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
}

.proposition {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s ease;
}

$first: #58243d;
.first {
  background: $first;
  color: $first;
}

.first-text {
  color: $first;
}

// #firstp {
//   background: #fed8d8f6 ;
//   height: 8px;
//   width: 8px;
// }

$second: #9f75c1;
.second {
  background: $second;
  color: $second;
}

.second-text {
  color: $second;
}
