$lightGrey: #e0e0e0ad;

.category-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 20px 10px 20px 10px;
  border-bottom: 1px solid $lightGrey;
  border-left: 1px solid $lightGrey;
  border-right: 1px solid $lightGrey;
  // border-radius: 4px;
  background-color: white;

  &:hover {
    background-color: #f5f5f5ad
  }
  
}

.category-selector:checked + label {
  color: rgb(0, 0, 0) !important;
  background-color:rgb(235, 235, 235);
}

legend {
  display: none;
}