$lightGrey: #e0e0e0ad;

.category-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
  font-size: 0.75rem;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 0.75rem;
  border-bottom: 1px solid $lightGrey;
  border-left: 1px solid $lightGrey;
  border-right: 1px solid $lightGrey;
  background-color: #ffffff82;
  &:hover {
    background-color: #ffffffb5;
  }

}

.category-selector:checked + label {
  color: rgb(0, 0, 0) !important;
  background-color:rgb(235, 235, 235);
}

legend {
  display: none;
}


.answers-wrapper {
  // display: flex;
}

.answer-item {
  margin-bottom: 1rem;
  width: 70%;
}

.answer-selector {
  position: absolute;
  transform: scale(0);
}

.answer-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  height: 142px;
  width: 380px;
  background-position: center;
  background-size: cover;
  &:hover {
    background-color: #f5f5f5ad
  }

}
#proposition-text {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  p {
    font-size: 32px;
  }
}

.answer-selector:checked + label {
  color: #fff!important;
  background-color:rgb(235, 235, 235);
}
