/** @format */

.sidebar {
  width: 40%;
  padding:0 10px;
  background-color:#333;
  color: #fff;
}

.card-chatroom {
  border-radius: 1px;
  
  &:hover {
    transform: scale(1);
  }

  h2 {
    margin: 0 0 40px 20px;
  }
}
