/** @format */

.sidebar {
  width: 40%;
  padding:0 10px;
  background-color:rgba(51, 51, 51, 0.37);
}

.card-chatroom {
  border-radius: 1px;

  &:hover {
    transform: scale(1);
  }

  h2 {
    margin: 0 0 40px 20px;
  }
}

#two-button {
    display: flex;
    justify-content: center;
    width: 100%;
}
