$lightGrey: #e0e0e0ad;
.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 30px 9px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
  width: 100%;
  text-align: center;
  color: #495057ba;

  i{
    font-size: 2rem;
  }

}

.survey_first_proposition, .survey_second_proposition {
  width : 100%;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.ongoing-survey {
  background-color: #ffffff5e;
  border-radius: 15px;
  padding: 20px;
  margin: 10px 0;
  p {
    background-color: transparent;
    color: #616161e6;
  }
  span {
    color: #616161e6;
  }
}


.survey-result {
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  border: 1px solid $lightGrey;
  border-top: 0;
  padding: 10px;
}

.no-hover:hover {
  background-color: #fff;
}

.button-survey {
  background-color: #ffffff5e;
  border: none;
  border: 1px solid #e0e0e0ad;
  height: 100px;
  width: 50%;
  padding-top: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  i {
    margin: 0;
  }

}
