.topic-card {
  background-color: #ffffffa6;
  list-style: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
  box-shadow: 1px 1px 1px #9999993b;
  border-radius: 0.5rem;
  border: 1px solid #0000000f;
  & a {
    display: inline-block;
    color: black;
    padding: 1rem;
    &:hover {
      text-decoration: none;
    }
  }
  &:hover {
      background-color: #fff;
    }
  & i {
    color: #999;
  }
}
#ongoing_topics {
  & ul {
    padding-left: 0;
  }
}
