// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.hidden {
  display: none;
}

.photo-preview-all {
  object-fit: cover;
  object-position: center;
  width: 212px;
  height: 159px;
  position: absolute;
  bottom: 78px;
}