// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  // font-family: 'Noto Sans JP', sans-serif !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300;
}

h2 {
  color: #616161e6;
  font-weight: 200;
  text-shadow: 1px 1px 0px #0000001a;
}

h5 {
  color: #616161e6;
}

body {
  background: linear-gradient(0deg, #fae3d785 0%, #fae3d7 47%, #fed8d896 100%);
}

.first-part {
  padding: 0 2rem 4rem 2rem;
  background-color: #fffefe30;
  box-shadow: 0px 0px 1px #00000038;
}

.second-part {
  padding: 0 2rem 3rem 2rem;
  background-color: #fffefe30;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  box-shadow: 0px 0px 1px #00000038;
}

.middle-part {
  background-color: #0000009e;
}
